@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e68787;
  --foreground: #c6ebaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #29f329;
    --foreground: #d11c1c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
